# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Maybe we only care about the mustache templates and generator class
src/org/openapitools/model/*
modules/openapi-generator/target/*
modules/openapi-generator-cli/target/*
modules/openapi-generator-core/target/*
modules/openapi-generator-maven-plugin/target/*
modules/openapi-generator-online/target/*
out/generators/my-codegen/out/*
out/generators/my-codegen/target/*
src/org/openapitools/api/*
modules/openapi-generator-cli/target/*
modules/openapi-generator-core/target/*
modules/openapi-generator-online/target/*
*.go
*.py
*.yml
.idea/*
!out/generators/my-codegen/src/main/resources/my-codegen/*
!out/generators/my-codegen/src/main/java/com/tkao/codegen/*
