package 

// ---------- TYPES ----------
    type AsyncJobStatus struct {
      status string `json:"status"`
      statusMessage string `json:"statusMessage"`
      error ErrorDescription `json:"error"`
    }
