package 

// ---------- TYPES ----------
    type FolderDefinition struct {
      name string `json:"name"`
      description string `json:"description"`
      parentId string `json:"parentId"`
    }
