package 

// ---------- TYPES ----------
    type UpdateRoleDefinition struct {
      name string `json:"name"`
      description string `json:"description"`
      filterPredicate string `json:"filterPredicate"`
      users array `json:"users"`
      capabilities array `json:"capabilities"`
    }
